@using Microsoft.AspNetCore.Identity
@inject UserManager<BlogUser> UserManager
@model BlogMVC.Models.Post

@{
    ViewData["Title"] = "SinglePost";
}

<main style="background-color: lightblue; min-height: 100vh;">
    <div class="container-fluid site-width" style="padding-top: 120px; padding-bottom: 60px;">
        <div class="row mt-3">
            <div class="col-12 col-sm-12">

                <div class="row">
                    <div class="col-12 col-xl-9 mb-5 mb-xl-0">
                        <div class="card mb-4" style="box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.8); transition: 0.3s;">
                            @*<img src="~Images/blog3.jpg" alt="" class="img-fluid rounded-top">*@
                            <div class="card-body">
                                <ul class="list-inline comment-info font-weight-bold">
                                    <li class="list-inline-item  mr-3"><i class="fa fa-user pr-1 text-primary"></i> <a href="#" class="text-primary">  John Deo</a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-comments pr-1"></i>  @(Model.Comments.Count + Model.SubComments.Count) Comments</a></li>
                                </ul>
                                <h3 class="font-weight-bold">@Model.Title</h3>
                                <hr />
                                <div>
                                    @Html.Raw(Model.Content)
                                </div>
                            </div>
                        </div>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="card mb-3" style="box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.8); transition: 0.3s;">
                                <div class="card-body">
                                    <h5 class="header-title mb-3">Leave a comment!</h5>
                                    <form asp-controller="Comments" asp-action="Create">
                                        @Html.Hidden("PostId", Model.Id)
                                        @Html.Hidden("AuthorId", UserManager.GetUserId(User))
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <input name="commentContent" class="form-control tiny" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary btn-md">Submit Comment</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        }

                        @foreach (var comment in Model.Comments)
                        {
                    <div class="card mb-3" style=" box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.8); transition: 0.3s;">
                        <div class="card-body pb-0">
                            <h5 class="header-title mb-0">@comment.Author.DisplayName</h5>
                        </div>
                        <hr />
                        <div class="media d-block d-sm-flex text-left p-4">
                            <img class="img-fluid d-md-flex mr-sm-4 rounded-circle" src="~Images/author10.jpg" alt="">
                            <div class="media-body align-self-center position-relative">
                                <div class="row">
                                    <div class="col-12">
                                        @Html.Raw(comment.Content)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3 offset-9">
                                        <div class="float-sm-right float-none h6 mb-0 my-3 my-sm-0">
                                            <a data-toggle="modal" data-target="#exampleModal-@comment.Id" class="text-primary position-absolute mr-2" style="cursor: pointer; bottom: 0; right: 0;"><i class="icofont icofont-bubble-left pr-1"></i> Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="exampleModal-@comment.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Share Your Reply!</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="overflow: scroll;">
                                        <div class="col" style="width:100%">
                                            <form asp-controller="SubComments" asp-action="Create" asp-route-foo="@comment.Id">
                                                @Html.Hidden("PostId", Model.Id)
                                                @Html.Hidden("AuthorId", UserManager.GetUserId(User))
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <input name="subcommentContent" class="form-control tiny" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12 mb-2">
                                                        <button type="submit" class="btn btn-primary btn-md">Submit Reply</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @foreach (var subcomment in comment.SubComments)
                        {
                            <div class="row mt-3">
                                <div class="col-1 ml-2"></div>
                                <div class="card col-11 mr-5" style="box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.8); transition: 0.3s;">
                                    <div class="row">
                                        <div class="col-1 mt-1">
                                            <img src="https://img.icons8.com/fluent/48/000000/reply-arrow.png" style="transform: rotate(180deg); max-width:100%; height: auto" />
                                        </div>
                                        <div class="col-5">
                                            <h6 class="ml-0 mt-3">
                                                @subcomment.Author.DisplayName
                                            </h6>
                                        </div>

                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="media d-block d-sm-flex text-left p-4">
                                                <img class="img-fluid d-md-flex mr-sm-4 rounded-circle" src="~Images/author10.jpg" alt="">
                                                <div class="media-body align-self-center position-relative">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            @Html.Raw(subcomment.Content)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                        }
                            @*<div class="media d-block d-sm-flex text-center text-sm-left ml-3 p-4">
                                <div class="card-body pb-0">
                                    <h6 class="header-title mb-0">@subcomment.Author.DisplayName</h6>
                                </div>
                                <hr />
                                <div class="text-left">
                                    @Html.Raw(subcomment.Content)
                                </div>
                            </div>*@
                            </div>
                        }

                    </div>

                    

                    <div class="col-12 col-xl-3">
                        <div class="card mb-3">
                            <div class="card-body">
                                <form>
                                    <div class="form-group mb-0">
                                        <input type="text" class="form-control" placeholder="Search">

                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="card-title">Categories</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled font-weight-bold">
                                    <li class=" mb-2">
                                        <a href="#" class="text-muted ">                                            
                                            <i class="icon-tag pr-2"></i> Photoshop <span class="float-right text-primary">14</span>
                                        </a>
                                    </li>
                                    <li class=" mb-2">
                                        <a href="#" class="text-muted">
                                            <i class="icon-tag pr-2"></i> Mobile Devlopment <span class="float-right text-primary">20</span>
                                        </a>
                                    </li>
                                    <li class=" mb-2">
                                        <a href="#" class="text-muted">
                                            <i class="icon-tag pr-2"></i> Web Design <span class="float-right text-primary">36</span>
                                        </a>
                                    </li>
                                    <li class=" mb-2">
                                        <a href="#" class="text-muted">
                                            <i class="icon-tag pr-2"></i> Video Editing <span class="float-right text-primary">8</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        @*<div class="card mb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Text Widget</h4>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
                </div>
            </div>*@
                        <div class="card mb-3">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="card-title">Recent Posts</h4>
                            </div>
                            <div class="card-body">
                                <div class="media d-block d-sm-flex text-center text-sm-left mb-4">
                                    <img class="img-fluid d-md-flex mr-sm-4" src="~Images/author1.jpg" alt="">
                                    <div class="media-body align-self-center redial-line-height-1_5">
                                        <h6 class="my-2 my-sm-0 redial-line-height-1_5 mb-xl-2">Maecenas tempus tellus eget luctus.</h6>
                                        10 Dec 2017
                                    </div>
                                </div>
                                <div class="media d-block d-sm-flex text-center text-sm-left mb-4">
                                    <img class="img-fluid d-md-flex mr-sm-4" src="~Images/author10.jpg" alt="">
                                    <div class="media-body align-self-center redial-line-height-1_5">
                                        <h6 class="my-2 my-sm-0 redial-line-height-1_5 mb-xl-2">Maecenas tempus tellus eget luctus.</h6>
                                        15 Dec 2017
                                    </div>
                                </div>
                                <div class="media d-block d-sm-flex text-center text-sm-left mb-4">
                                    <img class="img-fluid d-md-flex mr-sm-4" src="~Images/author9.jpg" alt="">
                                    <div class="media-body align-self-center redial-line-height-1_5">
                                        <h6 class="my-2 my-sm-0 redial-line-height-1_5 mb-xl-2">Maecenas tempus tellus eget luctus.</h6>
                                        25 Dec 2017
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="card-title">Tags</h4>
                            </div>
                            <div class="card-body">
                                <a href="#" class="redial-light border redial-border-light px-2 py-1 mb-2 d-inline-block redial-line-height-1_5 mr-2">Design</a>
                                <a href="#" class="redial-light border redial-border-light px-2 py-1 mb-2 d-inline-block redial-line-height-1_5 mr-2">Devlopment</a>
                                <a href="#" class="redial-light border redial-border-light px-2 py-1 mb-2 d-inline-block redial-line-height-1_5 mr-2">Css</a>
                                <a href="#" class="redial-light border redial-border-light px-2 py-1 mb-2 d-inline-block redial-line-height-1_5 mr-2">Html5</a>
                                <a href="#" class="redial-light border redial-border-light px-2 py-1 mb-2 d-inline-block redial-line-height-1_5 mr-2">Wordpress</a>
                                <a href="#" class="redial-light border redial-border-light px-2 py-1 mb-2 d-inline-block redial-line-height-1_5 mr-2">Logo Design</a>
                                <a href="#" class="redial-light border redial-border-light px-2 py-1 mb-2 d-inline-block redial-line-height-1_5 mr-2">Web Service</a>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<script src="https://cdn.tiny.cloud/1/ll8zhakbba1xr0km3e379sdk1lgtrjbl3cltdf4o4gen6z6n/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '.tiny',
        min_height: 200,
        skin: "snow",
        icons: "thin",
        plugins: 'lists codesample autoresize link',
        menubar: false,
        toolbar: [
            'undo redo | styleselect fontsizeselect | bold italic underline strikethrough numlist bullist | link codesample | alignleft aligncenter alignright alignjustify | outdent indent'
        ],
        default_link_target: '_blank',
        codesample_global_prismjs: true
    });
</script>

<style>
    blockquote {
        content: open-quote;
        left: 8px;
        font-size: 80px;
        top: 27px;
        margin-bottom: 1rem;
        font-size: 1.25rem;
        padding: 1.5rem;
        background-color: #1e3d73;
        color: #fff;
        border-radius: 0.25rem;
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.8);
        transition: 0.3s;
    }

    pre {
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.8);
        transition: 0.3s;
    }

    code {
        background-color: lightgray;
        color: #000;
    }

    p {
        margin:0;
        padding:0;
    }
</style>

